#tutorialImg {
    box-sizing: border-box;
    width: 90vw;
    height: 90vh;
}

#tutorialContainer {
    text-align: center;
}

#nextSlideBtn {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}