body{
    box-sizing :border-box;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height : 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    box-sizing: border-box;
    width: 80%;
    padding: 10px;
    background-color: blue;
}

.hide{
    opacity: 0%;
}